.div_hover {
    background-color: #ffffff;
    border: 1px;
}
  
.div_hover:hover {
    background-color: #a8daf5;
    border: 1px;
}

.div_clicked {
    background-color: #a8daf5;
    border: 1px solid #0943a7;
}

#container {
    height: 80vh
}