.edit-button {
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.space {
  height:5vh
}

.input-text {
  padding:1rem
}

.preview {
  margin: auto;
  width: 50rem;
}

.dropdown-box {
  margin: auto;
  width: 50%;
  margin-top: 0.4vh;
  margin-bottom: 0.4vh;
}

.link-button {
  width: 10rem;
  margin: auto;
  margin-top: 0.5ch;
  margin-bottom: 0.5ch;
}