.templates {
    display: block;
    /* justify-content: center; */
    margin: auto;
    /* overflow-y: scroll; */
    display: flex;
    flex-wrap: no-wrap;
    overflow-x: scroll;
  }
.Text{
  text-align: center;
}
  .stack{
    background-color: lightgray;
  }
