.image-container {
	position: relative;
	transition: transform 0.2s;
	display: flex;
	justify-content: flex-start;
	height: 60%;
	width: auto;
	padding:20;
}
.image{
	width:auto;
	height: 50vh;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	/* position: absolute; */
	/* width: 480px; */
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}